{% extends './base.html' %}
{% block title %}Comenta{% endblock %}
{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}
{% block body %}
    <!-- Contenedor -->
    <div class="container py-5">
        <div class="contact-form p-5">
            <div class="row">
                <div class="col-md-6">
                    <h2>Coméntanos</h2>
                    <p>Permítenos conocer tu experiencia</p>
                    <!--Formularios-->
                    <form action="{{ url_for('comment_above_us') }}" enctype="multipart/form-data" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del evento">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Imagen comentador</label>
                            <input type="file" class="form-control" id="imagen" name="imagen" placeholder="imagen" accept="image/*">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Comentario</label>
                            <textarea class="form-control" id="comentario" name="comentario" rows="5" placeholder="Coméntanos lo que quieras"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Enviar</button>
                    </form>
                </div>
                <!-- Datos de contacto -->
                <div class="col-md-6">
                    <div class="contact-info mb-4">
                        <p><i class="fa-solid fa-location-dot"></i> Bogotá, Colombia</p>
                        <p><i class="fa-solid fa-phone"></i> 325 255 8501</p>
                        <p><i class="fa-solid fa-envelope"></i> abcd123@gmail.com</p>
                    </div>
                    <div class="illustration">
                        <img alt="Illustration" class="img-fluid" src="{{ url_for('static', filename='img/116253696_685395055374601_7657996227304451166_n.jpg') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}